{% extends 'aplicacion/index.html' %}
{% load static %}

{% block title %}
 PekoProject®/Buzos
{% endblock title %} 

{% block cabecera %}
  Buzos
{% endblock cabecera %}

{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Buzos</h2></td>
        <td>
            <a
            href="{% url 'create_buzos' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Color</th>
            <th>Talle</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for buzo in buzos %}
    <tr>
        <td>{{ buzo.id }}</td>
        <td>{{ buzo.nombre }}</td>
        <td>{{ buzo.color }}</td>
        <td>{{ buzo.talle }}</td>
        <td>${{ buzo.precio }}</td>
        <td>
            <a 
            href="{% url 'update_buzo' buzo.id %}"
             class="btn btn-primary"
             style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
             ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
             </a>  
            <a
             href="{% url 'eliminar_buzo' buzo.id %} "
             class="btn btn-danger"
             style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
             ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
         </td>
    </tr>
  
    {% endfor %}
    
</body>

</html>
{% endblock contenido %}